<!DOCTYPE html>
<html>
<head>
<%
  if( typeof title !== "undefined") {
%>
    <title><%= title%></title>
<%
  } else {
%>
    <title>tdx</title>
<%
  }
%>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vue.min.js"></script>
</head>
<body>

<%- partial("./nav") %>

<div class="container tdx-body">
  <%- body %>
</div>

<%- partial("./footer") %>

</body>
</html>