.tdx-header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  z-index: 1000;
  background-color: #fff;
}

.tdx-body {
  padding-top: 60px;
  padding-bottom: 30px;
}

.tdx-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
  z-index: 1000;
  background-color: #fff;
}

body {
  background-color: #fff;
}

.label {
  display: inline-block;
  margin: 5px 2px;
}

.label:hover {
  cursor: pointer;
}

.CodeMirror, .form-line {
  margin-top: 15px;
}