<style type="text/css">

.s-panel {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;

  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
  display: flex;
  align-items: center;
}

.s-input-wrapper {
  flex: 1 1 auto;
  position: relative;
}

input.s-panel-input {
  border: 0;
  box-shadow: 0 0 0 0;
  border-radius: 0;
}

.s-panel-ul {
  top: 45px;
  position: absolute;
  z-index: 2;
  width: 300px;
  max-height: 200px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.18);
  list-style: none;
  border-color: #ddd;
  padding-left: 10px;
}

</style>
<div class="row" id="app" data-value="<%= id%>">
  
  <div class="col-md-8">

    <div class="form-line">
      <select v-model="effective" class="form-control">
        <option value="1">生效</option>
        <option value="0">废弃</option>
      </select>
    </div>

    <div class="form-line">
      <input type="text" class="form-control" placeholder="配置标题" v-model="title">
    </div>

    <div class="form-line">
      <textarea class="form-control" placeholder="配置内容摘要" v-model="abstract"></textarea>
    </div>
    
    <div class="s-panel form-line">
      
      <span class="label label-success" 
        v-for="(label,index) in selectLabels"
          @click="delLabel(index)">{{label}}</span>

      <div class="s-input-wrapper">
        
        <input class="form-control s-panel-input" type="text" 
          placeholder="输入标签，最多5个标签"
          @focus="ssInputFocus"
          @blur="ssInputBlur"
          @keyup.enter="ssInputChange"
          @change="ssInputChange"
          v-model="labelInputValue">

        <ul class="s-panel-ul" v-if="labelSearchShow">
          <li v-for="label in filterLabels">
            <a href="#" @mousedown="addLabel(label)">{{label}}</a>
          </li>
        </ul>

      </div>

    </div>

    <textarea class="form-control" id="mde"></textarea>

    <button type="button" class="btn btn-default"
      @click="submitLabel">修改</button>

  </div>

  <div class="col-md-4">
    <h3>标签云</h3>
    <div>
      <span class="label label-success" v-for="label in labels" @click="addLabel(label)">
        {{label}}
      </span>
    </div>
  </div>

</div>
<link rel="stylesheet" type="text/css" href="/simplemde/simplemde.min.css">
<script type="text/javascript" src="/simplemde/simplemde.min.js"></script>
<script type="text/javascript" src="/views/cfg/modify.js"></script>